$footer-color: black;
$scrumptious: #9FBEDD;
$scrumptious-light: #e4f0fd;
$grey-color: #E5E5E5;

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* Extra large devices (large laptops and desktops, 1920px and up) */
@media only screen and (max-width: 1920px) {

    html,
    body {
        margin: 0;
        height: 100%;
    }

    #mobile-nav {

        display: none;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    body {
        min-height: 100vh;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        font-family: sans-serif;
    }

    #wrapper {
        margin: 0 auto;
        width: 85%;
    }

    #header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .a-tag {
        width: 40%;
    }

    .a-tag img {
        width: 50%;
    }

    nav ul li {
        list-style-type: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.15em;
        display: inline-block;
    }

    nav ul li a {
        height: 100%;
        text-decoration: none;
        color: black;
        padding: 20px 25px;
    }

    nav ul li a:hover {
        background-color: $scrumptious-light;
        cursor: pointer;
        z-index: 2;
        transition: color .25s ease-in-out;
    }

    /*
    .navbar-fixed-top {
        top: 0;
        z-index: 100;
        position: fixed;
        width: 100%;
    }
*/
    .topnav {
        display: none;
    }

    #hero-image {
        position: relative;
    }

    #hero-image img {
        width: 100%;
        height: 350px;
        position: relative;
    }

    #hero-image .left-text {
        font-family: 'Courgette', cursive;
        position: absolute;
        bottom: 150px;
        left: 200px;
        color: white;
        font-size: 2em;
        width: 25%;
        animation: fadeInAnimation ease 1.5s;
    }

    #bold-filter {
        font-weight: bold;
        font-size: 1.5em;
        font-family: 'Courgette', cursive;
    }

    #hero-image .left-button {
        position: absolute;
        bottom: 100px;
        left: 200px;
        background-color: white;
        padding: 10px 20px;
        border: 5px solid white;
        font-size: 1.25em;
        animation: fadeInAnimation ease 1.5s;
    }

    #hero-image .left-button:hover {
        cursor: pointer;
        background-color: transparent;
        transition: background-color .15s ease-in-out;
        color: white;
    }

    #black-bar {
        background-color: black;
        color: white !important;
        display: flex;
        font-weight: bold;
        height: 50px;
    }

    #black-bar p {
        margin-left: 20px;
        color: white;
    }

    #black-bar a {
        color: white;
        text-decoration: none;
    }

    #black-bar p a:visited {
        color: white;
    }

    #social-icons i a:visited {
        color: white;
    }

    #footer {
        display: flex;
        background-color: $footer-color;
        color: white;
        justify-content: space-around;
        align-items: center;
        border-top: 10px solid $scrumptious;
        padding-top: 30px;
        font-size: 1.25em;


    }

    #footer ul li {
        list-style-type: none;
        padding-top: 15px;

    }

    #footer ul li a {
        color: white;
        text-decoration: underline;
    }

    #footer-caption {
        margin-top: 0;
        background-color: black;
        color: white;
        text-align: center;
        padding: 25px;
        margin-bottom: 0;
    }

    #whitespace {
        height: 50px;
    }

    #small-whitespace {
        height: 25px;
    }

    #frame-layout {
        display: flex;
        align-items: center;
        animation: fadeInAnimation ease 1.5s;

    }

    #frame-layout-2 {
        display: flex;
        align-items: top;
        justify-content: center;
    }
    }
    #abt-pg-layout {
        display: flex;
        flex-wrap: wrap;
        align-items: top;
        justify-content: center;
    }

    #spacer {
        height: 2px;
        background-color: $grey-color;
    }

    #catering-button {
        padding: 15px;
        background-color: #788475;
        color: white;
        border: none;
        font-size: .8em;
    }

    #catering-button:hover {
        cursor: pointer;
        background-color: #5E5D5C;
    }
    .testing{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #gallery-flex img {
        display: flex;
        animation: fadeInAnimation ease 2s;
        width: 25%;
        height: 25%;
        padding: 25px;
        
    }
    

    #text-align {
        text-align: center;
    }

    .Marcie {
        width: 40%;
        margin: auto;
        text-align: center;
    }


    #image-container img {
        width: 400px;
        position: relative;
        padding: 50px;
    }

    #paragraph-container {
        padding: 50px;
        font-size: 1.5em;
        background-color: $grey-color;
    }
        #paragraph-containerAb {
            background-color: $grey-color;
        }

        #paragraph-container h2 {
            font-size: 2em;
            font-family: 'Courgette', cursive;
        }

        #col-1 {
            width: 20%;
        }

        #col-home {
            background-color: $grey-color;
            font-size: 1.5em;
            margin-left: 40px;
            height: 100%;
            width: 33%;
            padding: 25px;
        }

        #col-home h3 {
            font-family: 'Courgette', cursive;
        }

        .col-home h3 {
            font-family: 'Courgette', cursive;
        }

        #col-home img {
            width: 100%;
            height: 400px;
        }

        .col-home {
            background-color: $grey-color;
            font-size: 1.5em;
            margin-left: 40px;
            margin-right: 40px;
            padding: 25px;
            width: 33%;
        }

        .col-home img {
            width: 100%;
            height: 400px;
        }

        .col-abt {
            background-color: $grey-color;
            font-size: 1.5em;
            margin-left: 40px;
            margin-top: 50px;
            margin-right: 40px;
            padding: 25px;
            width: 33%;
            height: 100%;
        }

        .col-abt img {
            width: 100%;
            height: 400px;
        }
        /* Abby's code for 2 column layout */
        #row1 {
            display: flex;
            flex-direction: row;
            border: 1px solid #000;
        }

        .column1 {
            flex: 5;
        }


        /* Clear floats after the columns */
        .row1 {
            flex: 5;
        }

        .social-icons li {
            display: inline-block;
            color: white;
        }

        .social-icons ul li a i:visited {
            color: white;
        }

        .social-icons ul li a i:hover {
            color: white;
        }

        .social-icons ul li a i:active {
            color: white;
        }

        #catering-nav {
            margin: auto;
            font-size: 1.5em;
            list-style-type: none;
            text-align: center;
        }

        #catering-nav ul li {
            display: inline-block;
            font-family: 'Courgette', cursive;
            padding: 25px;
        }

        #catering-nav ul li a {
            color: black;
            text-decoration: none;
        }

        .column {
            display: flex;
        }

        .column1 {
            width: 100%;
            margin: auto;
            display: table-cell;
            border: 1px solid #000;
        }



        /* Clear floats after the columns */

        .row1:after {
            content: "";
            display: table;
            clear: both;
        }

        #PeoplePics img {
            width: 100%;
        }

        #abt-pg-card {
            display: flex;
            margin: auto;
            font-size: 1.75em;
            background-color: $grey-color;
            padding: 40px;
            width: 65%;
        }

        #abt-pg-card h2 {
            margin: 0px 50px 0px 50px;
            font-size: 2em;
            padding-bottom: 20px;
        }

        #abt-pg-card p {
            margin: 0px 50px 0px 50px;
            text-align: center;

        }
    .abt-par{
        font-size: .75em;
    }
        #abt-pg-card #catering-button {
            margin: 0px 50px 0px 50px;
            margin-top: 25px;
        }

        #lg-whitespace {
            height: 80px;
        }

        #form-order {
            background-color: $grey-color;
            padding: 50px;
        }

        #form-order input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        .topnav {
            display: none;
        }

        #ratings-footer {
            width: 70%;
        }

        .catering-title {
            font-size: 3em;
            text-align: center;
            font-family: 'Courgette', cursive;
        }

        .catering-paragraph {
            font-size: 1.5em;
            text-align: center;
            width: 60%;
            margin: auto
        }

        #black-bar i {
            padding-left: 15px;
        }
    }

    @media only screen and (max-width: 1700px) {

        nav ul li {
            font-size: 1.25em;

        }
    }

    @media only screen and (max-width: 1500px) {

        nav ul li {
            font-size: 1em;
        }

        nav ul li a {
            padding: 10px;
        }

        .column4 {
            width: 50%;

        }

    }

    @media only screen and (max-width: 1300px) {
        #black-bar {
            font-weight: 100;
        }

        #frame-layout {
            flex-wrap: nowrap;
        }

        .img-3 {
            display: none;
        }

        .logo {
            width: 10%;
        }

        nav ul li {
            font-size: 1em;
        }

        nav ul li a {
            padding: 15px;
        }

        nav {
            width: 100%;
        }

        #wrapper {
            width: 80%;
            margin: auto;
        }

        #col-home {
            width: 50%;
            margin: 0px 10px 0px 10px;
        }

        #paragraph-container {
            font-size: 1em;
        }

        #image-container img {
            width: 300px;
        }

        #col-1 ul li {
            font-size: .75em;
        }

        .col-home {
            font-size: 1em;
        }

    }

    @media only screen and (max-width: 1200px) {
        #hero-image {
            display: none;
        }

        .left-button {
            display: none;
        }

        #hero-iamge .left-button {
            display: none;
        }

        #wrapper {
            width: 90%;
        }

        .a-tag {
            display: none;
        }

        nav {
            display: none;
        }

        #image-container {
            display: none;
        }

        .topnav {
            display: inline;
            overflow: hidden;
            position: relative;
            width: 100%;
        }

        .topnav #myLinks {
            display: none;
        }

        .topnav a {
            color: #000;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
        }

        .topnav a.icon {
            font-size: 2em;
            background: #fff;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav a:hover {
            color: black;
        }

        .active {
            color: black;
        }

    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (max-width: 600px) {

        .column4 {
            width: 100%;
        }
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        #mobile-nav {
            display: inline;
        }

        .social-icons {
            display: none;
            color: white;
        }

        #image-container {
            width: 70%;
        }

        #image-container img {
            border: none;
            padding: 0px;
        }

        #frame-layout {
            flex-direction: column;
        }

        #small-whitespace {
            height: 25px;
        }

        #whitespace {
            height: 50px;
        }

        #spacer {
            display: none;
        }

        #frame-layout-2 {
            flex-direction: column;
        }

        #col-home {
            padding-top: 20px;
        }

        #footer #col-1 {
            display: none;
        }

        .a-tag {
            width: 100%;
        }

        .topnav a {
            align-items: center;
        }

        #black-bar {
            font-size: .75em;
            height: 35px;
        }

        #col-home {
            width: 90%;
            margin: auto;
            margin-top: 50px;
        }

        #map {
            width: 80%;
        }
    }
