$footer-color: black;
$scrumptious: #9FBEDD;
$scrumptious-light: #e4f0fd;

html, body {
    margin: 0;
    min-height: 100%;
    height: 100%;
}

body{
    font-family: sans-serif;
    
}

#wrapper{
    margin: 0 auto;
    width: 85%;}
#header{
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo{
    width: 100%;
}
.a-tag{
    width: 15%;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.15em;
}
nav ul li a{
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 20px 25px;
}
nav ul li a:hover{
    border-radius: 15px;
    background-color: $scrumptious-light;
    cursor: pointer;
    z-index: 2;
    transition: color .25s ease-in-out;
}
#hero-image{
    position: relative;
}
#hero-image img{
    width: 100%;
    height: 100%;
    position: relative;
}
#hero-image .bottom-left{
    position: absolute;
    bottom: 125px;
    left: 100px;
    
}
#hero-image .bottom-left-button{
    position: absolute;
    bottom: 80px;
    left: 100px;
    background-color: white;
    padding: 10px 20px;
    border: 5px solid white;
    font-weight: 700;
    font-size: 1.0em;
}
#hero-image .bottom-left-button:hover{
    cursor: pointer;
    background-color: transparent;
    transition: background-color .15s ease-in-out;
    color: white;
}
.hero-text{
    color: white;
    font-size: 1.75em;
    width: 30%;
h2{text-align: center;}
}
#black-bar{
    background-color: black;
    color: white;
    display: flex;
    font-weight: bold;
    height: 50px;
}

#black-bar p{
    margin-left: 20px;
}
#footer{
    display:flex;
    background-color: $footer-color;
    color: white;
    justify-content: space-around;
    border-top: 10px solid $scrumptious;
    padding-top: 30px;
    
    
}
#footer ul li{
    list-style-type: none;
    padding-top: 15px;
    
}
#footer ul li a{
    color: white;
    text-decoration: underline;
}
#footer-caption{
    margin-top: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
}
#whitespace{
    height: 50px;
}
#small-whitespace{
    height: 25px;
}
#frame-layout{
    display: flex;
    align-items: center;
    
}
#frame-layout-2{
    display: flex;
    align-items: top;
    justify-content: center;
}
#paragraph-container{
    padding: 50px;
}
#spacer{
    height: 2px;
    background-color: #EDEDED;
}
#catering-button{
    padding: 15px;
    background-color: $scrumptious;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
}
#catering-button:hover{
    cursor: pointer;
    background-color: antiquewhite;
}
#gallery-flex{
    display: flex;
    flex-flow:row wrap; 
}
#gallery-flex img{
    width: 300px;
    height: 300px;
    padding: 25px;
}
#text-align{
    text-align: center;
}
#PeoplePics img{
    width: 100%;
}
.abt-1{
    width: 33%;
    margin: auto;
    text-align: center;
}
.abt-2{
    width: 33%;
    margin: auto;
    text-align: center;
}
.abt-3{
    width: 33%;
    margin: auto;
    text-align: center;
}
.Marcie{
    width: 40%;
    margin: auto;
    text-align: center;
    border: 5px solid #9FBEDD;}

.column{
    display: flex;
    align-items: center;
}
.column img{
    width: 50%;
    height: 200px;
    display: block;
    margin: auto;
}
#image-container img{
    width: 100%;
    border: 10px solid $scrumptious;
}
#col-1{
    width: 20%;
}
#col-home{
    padding: 25px;
}
#col-home-2{
    padding: 25px;
}
#col-home-3{
    padding: 25px;
}
#col-home img{
    width: 70%;
    padding: 20px;
    border: 10px solid $scrumptious;
}
#col-home-2 img{
    width: 60%;
    padding: 20px;
    border: 10px solid $scrumptious;
}
#col-home-3 img{
    width: 60%;
    padding: 20px;
    border: 10px solid $scrumptious;
}
#catering-nav{
    margin: auto;
    list-style-type: none;
    text-align: center;
}
#catering-nav ul li{
    display: inline-block;
    padding: 25px;
}
#catering-nav ul li a{
    color: black;
    text-decoration: none;}
    
.column1 {
  float: left;
  width: 100%;
  margin:auto;
  padding: 50px 10px 10px;
  display: table-cell;
border: 1px solid #000;}
    

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
    clear: both;}
@media screen and (max-width: 1440px){
    
    body{
        background-color: blue;
    }
}
@media screen and (min-width: 1920px) {
    body{
        background-color: red;
    }
    
}
@media screen and (max-width: 1030px) {
    /* Styles go here */
    nav ul li{
        font-size: 1em;
        padding: 10px 15px;
    }
    .bottom-left{
        bottom: 90px;
    }
    .bottom-left-button{
        bottom: 40px;
    }
    .hero-text{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 770px) {
    .logo{
        display: none;
    }
    nav ul li{
        font-size: .75em;
        font-weight: 300;
        padding: 10px 2px 10px 2px;
    }
    nav{
        width: 100%;
    }
    #hero-image{
        display: none;
    }
    .hero-text{
        display: none;
    }
    .bottom-left-button{
        display: none;
    }
    .bottom-left{
        display: none;
    }
    #wrapper{
        width: 80%;
        margin: auto;
    }
    #PeoplePics{
    text-align: center;}
}
    
   